@import '../styles/styles.scss';

.todolist {
	margin: 0;
	margin-top: 12rem;
	padding: 0;
	// border: 2px solid red;
}

@media screen and (min-width: 768px) {
	.todolist {
		margin-top: 14rem;
		padding: 0 1em;
	}
}
